<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/images/favicon.ico"/>
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{description}}</h1>
        </div>

        {{>footer}}
    </body>
 </html>
